@font-face {
  font-family: 'icomoon';
  src:  url('../fonts_img/icomoon.eot?hugv71');
  src:  url('../fonts_img/icomoon.eot?hugv71#iefix') format('embedded-opentype'),
    url('../fonts_img/icomoon.ttf?hugv71') format('truetype'),
    url('../fonts_img/icomoon.woff?hugv71') format('woff'),
    url('../fonts_img/icomoon.svg?hugv71#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\f00c";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-phone:before {
  content: "\f095";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-shopping-bag:before {
  content: "\f290";
}
